{% extends 'base.html' %} {% block base %}
<h4 style="display: none" id="newMessage">New Mastodon Posts</h4>
<div id="notifications"></div>

<div hx-ext="sse" sse-connect="{{ stream_server }}/content/notifications/">
<h2>New Mastodon Posts</h2>
  <div hx-get="{% url 'posts:new-content' %}" hx-trigger="sse:new-notification" hx-swap="afterbegin">
  </div>
</div>
<h2>Mastodon Posts</h2>

<div id="messages">
  {% for message in messages %}
  <div class="messageBox">
    <div class="user">{{ message.creator }}</div>
    <div class="message">
      {{ message.text | safe }}
      <span class="time"> {{ message.created_at }} </span>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block script %}
<script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js"></script>
{% endblock %}
