{% extends 'base.html' %}

{% block base %}
    <h4 style="display:none" id="newMessage"> New Messages </h4>
     <div id="notifications">
    </div>
    
    <h2>Posts</h2>
    
    <div id="messages">
    </div>
    {% for message in messages %}
    <div style="border: 1px solid black; margin: 5px; padding: 5px;">
        <span class="createdAt">
            {{ message.created_at }}
        </span>
        <strong class="user">
           {{ message.creator__email }}
        </strong>:
        <span class="message">
            {{ message.text }}
        </span>
    </div>
    {% endfor %}
    
    
    <template id="message">
        <div style="border: 1px solid black; margin: 5px; padding: 5px;">
            <strong class="createdAt"></strong> :
            <strong class="user"></strong> :
            <span class="message"></span>
        </div>
    </template>



        

{% endblock %}
{% block script %}
<script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
<script>
        // Setup EventSource
        const source = new EventSource("{{ stream_server }}", { withCredentials: true });
        console.log("Connected to {{ stream_server }}");

        source.onmessage = function(event) {
        fetch(`/posts/new/${event.data}/`)
           .then(response => response.text())
           .then(data => { 
             existing = notifications.innerHTML; 
             notifications.innerHTML = data + existing; 
             x = document.getElementById("newMessage");
             x.style.display = "block";
             htmx.process(notifications); 
           });
        };


</script>

{% endblock %}