{% extends 'base.html' %} {% block base %}
<h4 style="display: none" id="newMessage">New Mastodon Posts</h4>
<div id="notifications"></div>

<h2> Posts</h2>
<div hx-ext="sse" sse-connect="{{ stream_server }}">
  <div hx-get="{% url 'posts:new-content' %}" hx-trigger="sse:new-notification" hx-swap="afterbegin">
  </div>
  <div sse-swap="status" hx-swap="afterbegin"></div>
</div>

<div id="messages">
  {% for message in messages %}
  <div class="messageBox">
    <div class="message">

    {{ message.text | safe }}
    </div>
    <div class="user">
      {{ message.creator }}
      <span class="time"> {{ message.created_at }} </span>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block script %}
<script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js"></script>
{% endblock %}
