DB_HOST=localhost
DB_NAME=pravaham
DB_SCHEMA=public
DB_USER=postgres
DB_PASS=postgres
REDIS_DSN=redis://localhost:6379/1
DJANGO_SETTINGS_MODULE=pravaham.settings.base
STREAM_SERVER=http://localhost:8002/
# Place the server you want to get stream from. Providing an example here
MASTODON_SERVER_DOMAIN="https://streaming.mastodon.online/"
MASTODON_BEARER_TOKEN=<Get it from the instance that you would like to get stream from>
