{% extends 'base.html' %}

{% block base %}
    <h4 style="display:none" id="newMessage"> New Messages </h4>
     <div id="notifications">
    </div>
    
    <h2>Lobby</h2>
    
    <div id="messages">
    </div>
    
    
    <template id="message">
        <div style="border: 1px solid black; margin: 5px; padding: 5px;">
            <strong class="createdAt"></strong> :
            <strong class="user"></strong> :
            <span class="message"></span>
        </div>
    </template>



        

{% endblock %}
{% block script %}
<script>
        // Setup EventSource
        const source = new EventSource("{{ stream_server }}", { withCredentials: true });
        console.log("Connected to {{ stream_server }}");

        source.onmessage = function(event) {
            const payload = JSON.parse(event.data);
            let template = document.getElementById('message');
            let clone = template.content.cloneNode(true);

            // Update our cloned template
            clone.querySelector('.createdAt').innerText = payload.created_at;
            clone.querySelector('.user').innerText = payload.account;
            clone.querySelector('.message').innerText = payload.content;

            // Append the cloned template to our list of messages
            document.getElementById('messages').prepend(clone);
        };


</script>

{% endblock %}